* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  width: 100%;
  overflow-y: hidden;
}

.logo img {
  width: 6.5rem;
}

.menu-lateral {
  position: relative;
  width: 100px;
  height: 90%;
  background-color: #3f6a6b;
  padding: 5px 0% 220px 0%;
  box-shadow: 3px 0 0 #396ab4;

  top: 0;
  left: 0;
  overflow: hidden;
  transition: 0.5s;
}

.menu-lateral.expandir {
  width: 250px;
}

.btn-expandir {
  width: 100%;
  padding-left: 10px;
}

.btn-expandir {
  color: white;
  font-size: 24px;
  cursor: pointer;
}

ul {
  height: 100%;
  list-style-type: none;
}

ul li.item-menu {
  transition: 0.2s;
}

ul li.ativo {
  background-color: #81adf0;
}

ul li.item-menu:hover {
  background: #79acf8;
}

ul li.item-menu a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 20px 4%;
  display: flex;
  margin-bottom: 15px;
  line-height: 40px;
}

ul li.item-menu a .link-page {
  margin-left: 60px;
  transition: 1s;
  opacity: 0;
}

.menu-lateral.expandir .link-page {
  margin-left: 25px;
  opacity: 1;
}

ul li.item-menu a .icon {
  font-size: 25px;
  margin-left: 5px;
}

.btn-download {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 140px;
  height: 60px;
  border-radius: 8px;
  border: #526685;
  background-color: #526685;
  color: antiquewhite;
}

.btn-download .icon {
  padding: 30px;
}

.conta {
  color: white;
  font-size: 20px;
  padding: 10px;
  margin-right: 20px;
}

.content-page {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: absolute;
  background-color: #dce8e8;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5%;
  background-color: #a9cbcc;
  border-bottom: 1px solid rgb(47, 41, 134);
  position: flex;
  right: 0;
  top: 0;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
}

.header h1 {
  padding: 10px;
  color: #526685;
}

.header p {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.header .botaoPesquisa {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20rem;
  line-height: 2.5rem;
  border-radius: 20px;
  background-color: #526685;
  color: white;
}

#pesquisa {
  background-color: whitesmoke;
  color: #396ab4;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

#bem_vindo {
  font-weight: bold;
  font-size: 20px;
  color: #526685;
}

.graficos {
  display: flex;
  height: 12rem;
  gap: 12rem;
  padding: 3rem;
  flex-direction: row;
}

.content2 {
  display: flex;
  flex-direction: row;
}

.type_line1 {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.type_line2 {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.grafics {
  height: 38rem;
}

.lineOne {
  width: 38rem;
}

.lineThree {
  width: 35rem;
}

.alertas {
  width: 100%;
  height: 100%;
  bottom: 20rem;
  left: 8rem;
  display: flex;
  justify-content: row;
  align-items: row;
  flex-direction: center;
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
  ;
}

.alertaAjustavel1 {
  width: 5rem;
  height: 3rem;
  background-color: #f6ff00;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;

}

.alertaIdeal {
  width: 5rem;
  height: 3rem;
  background-color: rgb(12, 168, 12);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.alertaAjustavel {
  width: 5rem;
  height: 3rem;
  background-color: rgb(235, 155, 13);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;

}


.alertaCritico {
  width: 5rem;
  height: 3rem;
  background-color: rgb(255, 4, 0);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  color: white;
  gap: 1rem;
}

.txta1 {
  color: #f6ff00;
  border-radius: 10px;
  display: flex;
  font-family: "Poppins", sans-serif;
  gap: 2rem;
}

.txta2 {
  color: rgb(12, 168, 12);
  display: flex;
  align-items: row;
  font-family: "Poppins", sans-serif;
  gap: 2rem;
}

.txta3 {
  color: rgb(235, 155, 13);
  display: flex;
  align-items: row;
  font-family: "Poppins", sans-serif;
  gap: 2rem;
}


.txta4 {
  color: rgb(255, 4, 0);
  display: flex;
  align-items: row;
  font-family: "Poppins", sans-serif;
}