* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: row;
}

#header {
  height: 100vw;
  width: 20vw;
  background-color: #2d9cdb;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 5vw;
}

#myChart {
  position: relative;
  height: 60vh;
  width: 70vw;
}

#myChart2 {
  position: relative;
  height: 30vh;
  width: 30vw;
}

#myChart3 {
  position: relative;
  height: 30vh;
  width: 30vw;
}
