.mainContainer {
    display: flex;
    gap: 10rem;
    margin-top: 6rem;
    justify-content: center;
    align-items: center;
    /* border-bottom: 1px solid #2D9CDB; */
}

.mainTextContainer{
    display: flex;
    flex-direction: column;
    width: 25rem;
    gap: 1rem;
}

.mainTextTitle {
    display: flex;
    flex-direction: column;
    width: 25rem;
    font-family: 'Poppins', sans-serif;
    color: #2D9CDB;
}

.mainTextSubtitle{
    display: flex;
    flex-direction: column;
    font-family: 'DM Sans', sans-serif;
    color: #4F4F4F;
}

.mainButton{
    margin-top: 1rem;
}

.calculatorContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    background-color: white;
}

.calculatorMain{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 25rem;
}