html{
    scroll-behavior: smooth;
}

:target{
    scroll-margin-top: 1rem;
}

.mainContainer {
    display: flex;
    gap: 10rem;
    margin-top: 6rem;
    padding-bottom: 1rem;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #2D9CDB;
}

.mainTextContainer{
    display: flex;
    flex-direction: column;
    width: 25rem;
    gap: 1rem;
}

.mainTextTitle {
    display: flex;
    flex-direction: column;
    width: 25rem;
    font-family: 'Poppins', sans-serif;
    color: #2D9CDB;
}

.mainTextSubtitle{
    display: flex;
    flex-direction: column;
    font-family: 'DM Sans', sans-serif;
    color: #4F4F4F;
}

.mainButton{
    margin-top: 1rem;
}

.sobrenosContainer{
    display: flex;
    height: 40rem;
    flex-direction: row;
    align-items: center;
    gap: 8rem;
    border-bottom: 1px solid #2D9CDB;
}

.sobrenosImg{
    width: 32rem;
    height: 30rem;
    left: 9rem;
    margin-left: 10rem;
   
}

.sobrenosText{
    width: 38rem;
    height: 19rem;
    left: 38rem;
    top: 14rem;
    font-family: 'DM Sans', sans-serif;
    display: flex;
    flex-direction: column;
    color: #767676;
    
}

.sobrenosText-tilulo {
    font-family: 'Poppins';
    color: #2D9CDB;
    font-weight: 700;
    font-size: 2rem;

}

.container-servicos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-servicos h1{
    font-family: 'Poppins';
    color: #2D9CDB;
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
}

.contextos-servicos{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.container-contexto-servicos {
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: 20rem;
    background: #eeeaea;
}


.container-contexto-servicos h1{
    color: #767676;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 1rem;
}

.container-contexto-servicos p{
    color: #767676;
    width: 10rem;
    height: 8rem;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 1rem;
}


.container-diagrama-servicos {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.container-diagrama-servicos h2{
    font-family: 'Poppins';
    color: #2D9CDB;
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    align-items: center;
}

.container-foto-servicos {
    display: flex;
    width: fit-content;
    height: 28rem;
    align-items: center;
    margin-left: 1rem;
}

.servicos-texto {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: 3rem;

}

.servicos-texto h1{
    font-family: 'Poppins';
    color: #2D9CDB;
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    margin-block-end: 3rem;
}

.servicos-texto p{
    color: #767676;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    height: 8rem;
    width: 38rem;

}

.calculatorContainerHome{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12rem;
}

.calculatorAnchor{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.calculatorText{
    font-family: 'Poppins', sans-serif;
    width: 25rem;
    color: #2D9CDB;
}

.calculatorPhotoContainer img{
    height: 22rem;
}

.calculatorButton{
    padding: 1.5rem;
}

.contatoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #F9F9F9;
    padding: 10rem 0;
}

.contatoMain{
    display: flex;
    align-items: center;
    gap: 17rem;
}

.contatoTextContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 25rem;
    font-family: 'DM Sans', sans-serif;
}

.contatoTextContainer h1{
    font-family: 'Poppins', sans-serif;
    color: #2D9CDB;
}

.contatoInfoContainer{
    display: flex;
    flex-direction: column;
    height: 8.5rem;
    gap: 2rem;
}

.infoBox{
    display: flex;
    gap: 1rem;
    font-family: 'DM Sans', sans-serif;
}



