.mainContainer {
    display: flex;
    gap: 10rem;
    margin-top: 6rem;
    padding-bottom: 1rem;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #2D9CDB;
}

.mainTextContainer{
    display: flex;
    flex-direction: column;
    width: 25rem;
    gap: 1rem;
}

.mainTextTitle {
    display: flex;
    flex-direction: column;
    width: 25rem;
    font-family: 'Poppins', sans-serif;
    color: #2D9CDB;
}

.mainTextSubtitle{
    display: flex;
    flex-direction: column;
    font-family: 'DM Sans', sans-serif;
    color: #4F4F4F;
}

.mainButton{
    margin-top: 1rem;
}

.sobrenosContainer{
    display: flex;
    height: 40rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.sobrenosImg{
    
    width: 32rem;
    height: 30rem;
    left: 9rem;
    margin-left: 10rem;
   
}

.sobrenosText{
    width: 38rem;
    height: 19rem;
    left: 38rem;
    top: 14rem;
    font-family: 'DM Sans', sans-serif;
    display: flex;
    flex-direction: column;
    
}

.sobrenosText-tilulo {
    font-family: 'Poppins';
    color: #2D9CDB;
    font-weight: 700;
    font-size: 2rem;

}

.calculatorContainerHome{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.calculatorAnchor{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.calculatorText{
    font-family: 'Poppins', sans-serif;
    width: 25rem;
    color: #2D9CDB;
}

.calculatorPhotoContainer img{
    height: 22rem;
}

.calculatorButton{
    padding: 1.5rem;
}

.contatoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #F9F9F9;
    padding: 10rem 0;
}

.contatoMain{
    display: flex;
    align-items: center;
    gap: 17rem;
}

.contatoTextContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 25rem;
    font-family: 'DM Sans', sans-serif;
}

.contatoTextContainer h1{
    font-family: 'Poppins', sans-serif;
    color: #2D9CDB;
}

.contatoInfoContainer{
    display: flex;
    flex-direction: column;
    height: 8.5rem;
    gap: 2rem;
}

.infoBox{
    display: flex;
    gap: 1rem;
    font-family: 'DM Sans', sans-serif;
}
