header{
    display: flex;
    align-items: center;
    gap: 35rem;
    background-color: white;
    height: 4.5rem;
    width: 100%;
    position: absolute;
}

.imgLogo{
    display: flex;
    width: 9rem;
    height: 3rem;
    margin-left: 6rem;
}

nav{
    width: 27rem;
}

a{
    padding: 1.5rem;
    font-family: 'DM Sans', sans-serif;
}

a:hover{
    border-bottom: 3px solid #2D9CDB;
}

a:active{
    color: #2D9CDB;
    border-bottom: 3px solid #2D9CDB;
}